{% load static %}
 <!-- Quick View Modal Box Start -->
 {% for i in products %}
    <div class="modal fade theme-modal view-modal" id="view{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header p-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row g-sm-4 g-2">
                        <div class="col-lg-6">
                            <div class="slider-image">
                                <img src="{{i.thumb_nail.url}}" class="img-fluid blur-up lazyloaded" alt="">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="right-sidebar-modal">
                                <h4 class="title-name">{{i.name}}</h4>
                                {% if i.variation_set.first.discount %}
                                <h4 class="price">&#8358;{{i.variation_set.first.dis_price|floatformat:2}}</h4>
                                {% else %}
                                <h4 class="price">&#8358;{{i.variation_set.first.price|floatformat:2}}</h4>
                                {% endif %}
                                <div class="product-rating">
                                    <span class="ms-2">{{i.review_set.all.count}} Customer Reviews</span>
                                </div>

                                <div class="product-detail">
                                    <h4>Product Details :</h4>
                                    <p>{{i.short}}</p>
                                </div>

                                <ul class="brand-list">
                                    <li>
                                        <div class="brand-box">
                                            <h5>Brand Name:</h5>
                                            {% if i.brand is not None %}
                                            <h6>{{i.brand}}</h6>
                                            {% endif %}
                                        </div>
                                    </li>

                                    <li>
                                        <div class="brand-box">
                                            <h5>Product Code:</h5>
                                            <h6>{{i.ref}}</h6>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="brand-box">
                                            <h5>Product Type:</h5>
                                            <h6>{{i.category}}</h6>
                                        </div>
                                    </li>
                                </ul>
                                <div class="select-size">
                                    <h4>Color :</h4>
                                    <button class="btn btn-sm choose-color" data-color="{{color.colour__id}}" value="{{color.colour__title}}" style="background-color: 
                                        {{i.variation_set.first.color}}"></button>
                                </div>

                                <div class="select-size">
                                    <h4>Check Size :</h4>
                                    <select class="form-select select-form-size">
                                        {% for s in i.variation_set.all %}
                                        <option value="1.2">{{s.size}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="modal-button">
                                    <button onclick="location.href = '/shop/{{i.category}}/{{i.name|slugify}}-{{i.id}}'"
                                        class="btn btn-md add-cart-button icon">Add
                                        To Cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Quick View Modal Box End -->

 {% for i in related %}
    <div class="modal fade theme-modal view-modal" id="view{{i.id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-fullscreen-sm-down">
            <div class="modal-content">
                <div class="modal-header p-0">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <i class="fa-solid fa-xmark"></i>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row g-sm-4 g-2">
                        <div class="col-lg-6">
                            <div class="slider-image">
                                <img style="width: 400px; height: 400px" src="{{i.thumb_nail.url}}" class="img-fluid blur-up lazyload"
                                    alt="">
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="right-sidebar-modal">
                                <h4 class="title-name">{{i.name}}</h4>
                                {% if i.variation_set.first.discount %}
                                <h4 class="price">&#8358;{{i.variation_set.first.dis_price|floatformat:2}}</h4>
                                {% else %}
                                <h4 class="price">&#8358;{{i.variation_set.first.price|floatformat:2}}</h4>
                                {% endif %}
                                <div class="product-rating">
                                    <ul class="rating">
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star" class="fill"></i>
                                        </li>
                                        <li>
                                            <i data-feather="star"></i>
                                        </li>
                                    </ul>
                                    <span class="ms-2">8 Reviews</span>
                                    <span class="ms-2 text-danger">6 sold in last 16 hours</span>
                                </div>

                                <div class="product-detail">
                                    <h4>Product Details :</h4>
                                    <p>{{i.short}}</p>
                                </div>

                                <ul class="brand-list">
                                    <li>
                                        <div class="brand-box">
                                            <h5>Brand Name:</h5>
                                            {% if i.brand is not None %}
                                            <h6>{{i.brand}}</h6>
                                            {% endif %}
                                        </div>
                                    </li>

                                    <li>
                                        <div class="brand-box">
                                            <h5>Product Code:</h5>
                                            <h6>{{i.ref}}</h6>
                                        </div>
                                    </li>

                                    <li>
                                        <div class="brand-box">
                                            <h5>Product Type:</h5>
                                            <h6>{{i.category}}</h6>
                                        </div>
                                    </li>
                                </ul>
                                <div class="select-size">
                                    <h4>Color :</h4>
                                    <button class="btn btn-sm choose-color" data-color="{{color.colour__id}}" value="{{color.colour__title}}" style="background-color: 
                                        {{i.variation_set.first.color}}"></button>
                                </div>

                                <div class="select-size">
                                    <h4>Cake Size :</h4>
                                    <select class="form-select select-form-size">
                                        <option selected>Select Size</option>
                                        <option value="1.2">1/2 KG</option>
                                        <option value="0">1 KG</option>
                                        <option value="1.5">1/5 KG</option>
                                        <option value="red">Red Roses</option>
                                        <option value="pink">With Pink Roses</option>
                                    </select>
                                </div>

                                <div class="modal-button">
                                    <button onclick="location.href = '/shop/{{i.category}}/{{i.name|slugify}}-{{i.id}}'';"
                                        class="btn btn-md add-cart-button icon">Add
                                        To Cart</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}    