{% load static %}

<!-- Cart Section Start -->
    <section class="cart-section section-b-space" id="cartList">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-12">
                    <div class="cart-table">
                        <div class="table-responsive-xl">
                            <table class="table">
                                <tbody>
                                    {% for product_id,item in cart_data.items %}
                                    <tr class="product-box-contain">
                                        <td class="product-detail">
                                            <div class="product border-0">
                                                <a href="/shop/{{item.cat}}/{{item.title|slugify}}-{{product_id}}" class="product-image">
                                                    <img src="{{item.img}}"
                                                        class="img-fluid blur-up lazyload" alt="">
                                                </a>
                                                <div class="product-detail">
                                                    <ul>
                                                        <li class="name">
                                                            <a href="/shop/{{item.cat}}/{{item.title|slugify}}-{{product_id}}">{{item.title}}</a>
                                                        </li>

                                                        <li class="text-content"><span class="text-title">Sold
                                                                By:</span> {{item.vendor}}</li>

                                                        <li class="text-content"><span
                                                                class="text-title">Size</span> - <span class="prod-size-{{product_id}}">{{item.size}}</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="price">
                                            <h4 class="table-title text-content">Price</h4>
                                            <h5>&#8358; {{item.price|floatformat:2}}</h5>
                                        </td>

                                        <input type="hidden" class="prod-price-{{product_id}}" name="price" value="{{item.price}}">
                                        <input type="hidden" class="prod-stock-{{product_id}}" value="{{item.stock}}" />
                                        
                                        <td class="quantity">
                                            <h4 class="table-title text-content">Qty</h4>
                                            <div class="quantity-price">
                                                <div class="cart_qty">
                                                    <div class="input-group">
                                                        <button type="button" class="btn update-item" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" data-item="{{product_id}}">
                                                            <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                                                        </button>
                                                        {% for p in prods %} 
                                                        {% if p.ref == item.ref %}                                                         
                                                        <input class="form-control input-number qty-input prod-qty-{{product_id}}" type="number"
                                                            name="quantity" value="{{item.qty}}" min="1" max="{{p.number}}" readonly>

                                                        {% endif %}    
                                                        {% endfor %}    

                                                        <button type="button" class="btn update-item" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" data-item="{{product_id}}">
                                                            <i class="fa fa-plus ms-0" aria-hidden="true"></i>
                                                        </button> 
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="subtotal">
                                            <h4 class="table-title text-content">Total</h4>
                                            <h5>&#8358; {% widthratio item.price 1 item.qty %}.00</h5>
                                        </td>

                                        <td class="save-remove">
                                            <h4 class="table-title text-content">Action</h4>
                                            <a class="save notifi-wishlist" href="javascript:void(0)">Save for later</a>
                                            <a class="remove close_button delete-item" data-item="{{product_id}}" href="javascript:void(0)">Remove</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="summery-box p-sticky">
                        <div class="summery-header">
                            <h3></h3>
                        </div>
                        <ul class="summery-total">
                            <li class="list-total border-top-0">
                                <h4>Cart Total</h4>
                                <h4 class="price theme-color">&#8358; {{total_amt|floatformat:2}}</h4>
                            </li>
                        </ul>

                        <div class="button-group cart-button">
                            <ul>
                                {% if min %}
                                <li>
                                    <button class="btn btn-animation proceed-btn fw-bold" disabled>Order is &#8358;500 minimum</button>
                                </li>
                                {% else %}
                                <li>
                                    <button onclick="location.href = '{% url 'checkout' %}';"
                                        class="btn btn-animation proceed-btn fw-bold">Proceed To Checkout</button>
                                </li>
                                {% endif %}

                                <li>
                                    <button onclick="location.href = '{% url 'shop' %}';"
                                        class="btn btn-light shopping-button text-dark">
                                        <i class="fa-solid fa-arrow-left-long"></i>Return To Shopping</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Section End -->
