{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <title>Cart</title>
{% endblock %}
{% block content %}

    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2>Cart</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'home' %}">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page"><a href="{% url 'shop' %}">Shop</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Cart</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Cart Section Start -->
    <section class="cart-section section-b-space" id="cartList">
        <div class="container-fluid-lg">
            <div class="row g-sm-5 g-3">
                <div class="col-xxl-9">
                    <div class="cart-table">
                        <div class="table-responsive-xl">
                            <table class="table">
                                <tbody>
                                    {% if request.session.cartdata|length == 0 %}
                                    <h4>You don't have any items in your cart!</h4>
                                    {% endif %}
                                    {% for product_id,item in cart_data.items %}
                                    <tr class="product-box-contain">
                                        <td class="product-detail">
                                            <div class="product border-0">
                                                <a href="/shop/{{item.cat}}/{{item.title|slugify}}-{{product_id}}" class="product-image">
                                                    <img src="{{item.img}}"
                                                        class="img-fluid blur-up lazyload" alt="">
                                                </a>
                                                <div class="product-detail">
                                                    <ul>
                                                        <li class="name">
                                                            <a href="/shop/{{item.cat}}/{{item.title|slugify}}-{{product_id}}">{{item.title}}</a>
                                                        </li>

                                                        <li class="text-content"><span class="text-title">Sold
                                                                By:</span> {{item.vendor}}</li>

                                                        <li class="text-content"><span
                                                                class="text-title">Size</span> - <span class="active1">{{item.size}}</span></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="price">
                                            <h4 class="table-title text-content">Price</h4>
                                            <h5>&#8358; {{item.price|floatformat:2}}</h5>
                                        </td>
                                        <input type="hidden" class="prod-price-{{product_id}}" name="price" value="{{item.price}}">
                                        <td class="quantity">
                                            <h4 class="table-title text-content">Qty</h4>
                                            <div class="quantity-price">
                                                <div class="cart_qty">
                                                    <div class="input-group">
                                                        <button type="button" class="btn update-item" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" data-item="{{product_id}}">
                                                            <i class="fa fa-minus ms-0" aria-hidden="true"></i>
                                                        </button>
                                                        <input class="form-control input-number qty-input prod-qty-{{product_id}}" type="number"
                                                            name="quantity" value="{{item.qty}}" min="1">
                                                        <button type="button" class="btn update-item" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" data-item="{{product_id}}">
                                                            <i class="fa fa-plus ms-0" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>

                                        <td class="subtotal">
                                            <h4 class="table-title text-content">Total</h4>
                                            <h5>&#8358; {% widthratio item.price 1 item.qty %}.00</h5>
                                        </td>

                                        <td class="save-remove">
                                            <h4 class="table-title text-content">Action</h4>
                                            <a class="save notifi-wishlist add-wishlist" data-product="{{product_id}}">Save for later</a>
                                            <a class="remove close_button delete-item" data-item="{{product_id}}" href="javascript:void(0)">Remove</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="col-xxl-3">
                    <div class="summery-box p-sticky">
                        <div class="summery-header">
                            <h3>Cart Total</h3>
                        </div>

                        <div class="summery-contain">
                            <ul>
                                <li>
                                    <h4>Subtotal</h4>
                                    <h4 class="price">&#8358; {{total_amt|floatformat:2}}</h4>
                                </li>
                                <li class="align-items-start">
                                    <h4>Delivery</h4>
                                    {% if delivery %}
                                    <h4 class="price text-end">&#8358; {{delivery|floatformat:2}}</h4>
                                    {% else %}
                                    <h4 class="price text-end">&#8358; 0.00</h4>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>

                        <ul class="summery-total">
                            <li class="list-total border-top-0">
                                <h4>Total</h4>
                                {% if total %}
                                <h4 class="price theme-color">&#8358; {{total|floatformat:2}}</h4>
                                {% else %}
                                <h4 class="price text-end">&#8358; 0.00</h4>
                                {% endif %}
                            </li>
                        </ul>

                        <div class="button-group cart-button">
                            <ul>
                                <li>
                                    <button onclick="location.href = '{% url 'checkout' %}';"
                                        class="btn btn-animation proceed-btn fw-bold">Proceed To Checkout</button>
                                </li>

                                <li>
                                    <button onclick="location.href = '{% url 'shop' %}';"
                                        class="btn btn-light shopping-button text-dark">
                                        <i class="fa-solid fa-arrow-left-long"></i>Return To Shopping</button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Cart Section End -->

    {% endblock %}