{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <title>Change Password</title>
{% endblock %}
{% block content %}


    <!-- log in section start -->
    <section class="log-in-section otp-section section-b-space">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-xxl-6 col-xl-5 col-lg-6 d-lg-block d-none ms-auto">
                    <div class="image-contain">
                        <img src="{% static 'assets/' %}images/inner-page/otp.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                    <div class="d-flex align-items-center justify-content-center h-100">
                        <div class="log-in-box">
                            <div class="log-in-title">
                                <h3>Change Password</h3>
                                {% if messages %}
                                {% for message in messages %}
                                <h4 style="color:orangered;">{{message}}</h4>
                                {% endfor %}
                                {% endif %}
                            </div>

                            <div class="input-box">
                                <form method="post" class="row g-4">
                                    {% csrf_token %}
                                    <div class="col-12">
                                        <i class="theme-color" id="password-length-message" style="display: none;">
                                            Password must be at least 8 characters long.
                                        </i>
                                        <i class="theme-color" id="password-validity-message" style="display: none;">
                                            Password must contain at least one uppercase letter, one lowercase letter, one number, and one special character (!@#$%^&*_-+=;:,.?...).
                                        </i>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-floating theme-form-floating log-in-form">
                                            <input name="password1" type="password" class="form-control" id="password1"
                                                placeholder="New Password" required>
                                            <label for="email">New Password</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating theme-form-floating log-in-form">
                                            <input name="password2" type="password" class="form-control" id="password2"
                                                placeholder="Confirm Password" required>
                                            <label for="email">Confirm Password</label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <button class="btn btn-animation w-100" id="submit_register" type="submit">Set Password</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- log in section end -->

{% endblock content %}