{% load static %}

{% block title %}
    <title>Excel Made For You </title>
{% endblock %}

{% block meta %}
    <meta name="description" property="og:description" content="Excelcart, dedicated to bringing vendors and consumers together. Explore our wide range of products and experience the ultimate in online shopping. Start Shopping Now!!!  ">    
    <meta name="keywords" content="online shopping, Best deals, Discounted prices, Fast Delivery, Discounts, Secure Payments, Sales, Free Shipping, Best Sellers, Secure Checkout, Hassle-free returns, Wishlist, Customer reviews, Featured products, Popular items, Gift ideas, Shopping cart, Loyalty programs, Exclusive offers ">
    <meta name="author" content="Emmanuel Excellent">
    <meta property="og:url" content="https://excelcart.com.ng">
    <meta property="og:title" content="Excelcart No.1 Online Shopping Website">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="Excelcart Graphics">

    <meta property="twitter:image" content="">
    <meta property="twitter:image:alt" content="Excelcart Graphics">
    <meta property="twitter:card" content="excelcart">
    <meta property="twitter:site" content="@Excelcart">

{% endblock %}

{% include 'base/header.html' %}

{% block content %}

{% block mobilemenu %}
{% endblock %}

{% endblock content %}

{% include 'base/footer.html' %}
