{% extends 'base/base.html' %}
{% load static %}
{% block title %}
    <title>Track Order</title>
{% endblock %}

{% block meta %}
    <meta name="description" property="og:description" content="At Excelcart, we believe in providing our customers with complete transparency. Our order tracking page lets youu follow your packages journey from our warehouse/store to your front-door. Vist today to track your">    
    <meta name="keywords" content="Order tracking, Track my order, Check order status, Order status updates, Shipping status, Package tracking, Delivery tracking, Track shipment, Oder History, View order details, Order confirmation, Track delivery, Find my order">
    <meta name="author" content="Emmanuel Excellent">
    <meta property="og:url" content="https://excelcart.com.ng/order-tracking">
    <meta property="og:title" content="Excelcart No.1 Online Shopping Website">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="Excelcart Graphics">

    <meta property="twitter:image" content="">
    <meta property="twitter:image:alt" content="Excelcart Graphics">
    <meta property="twitter:card" content="excelcart">
    <meta property="twitter:site" content="@Excelcart">

{% endblock %}

{% block content %}


    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2>Order Tracking</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'home' %}">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Order Tracking</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

   <!-- log in section start -->
    <section class="log-in-section background-image-2 section-b-space">
        <div class="container-fluid-lg w-100">
            <div class="row">
                <div class="col-xxl-6 col-xl-5 col-lg-6 col-sm-8 ms-auto">
                    <div class="image-contain">
                        <img src="{% static 'assets/' %}images/inner-page/dashboard-profile.png" class="img-fluid" alt="">
                    </div>
                </div>

                <div class="col-xxl-4 col-xl-5 col-lg-6 col-sm-8 mx-auto">
                    <div class="log-in-box">
                        <div class="log-in-title">
                            <h4>Track Your Order</h4>
                            {% if messages %}
                            {% for message in messages %}
                            <h5 style="color:orangered; font-size: 14;">{{ message }}</h5>
                            {% endfor %}
                            {% endif %}
                        </div>

                        <div class="input-box">
                            <form method="post" class="row g-4">
                                {% csrf_token %}
                                <div class="col-12">                                    
                                    <div class="form-floating theme-form-floating log-in-form">
                                        <input name="order-code" type="text" class="form-control" id="order-code">
                                        <label for="order-code">Order Code</label>
                                    </div>
                                    <i class="theme-color">Go to <a href="{% url 'user-dashboard' %}">DASHBOARD</a> and copy the OrderID of the order you want to track...</i>
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-animation w-100 justify-content-center" type="submit">Track Order</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- log in section end -->

{% endblock content %}