{% extends 'base/base.html' %}
{% load static %}

{% block title %}
    <title>Shop </title>
{% endblock %}

{% block meta %}
    <meta name="description" property="og:description" content="Discover the latest and greatest products at Excelcart. Our online shop has everythng you need to stay ahead of the curve, from clothing and accesories, to groceries, Items and many more. Shop now!">    
    <meta name="keywords" content="online shopping, Shop now, Products for sale, Best deals, Online store, Popular items, Discounts and promotions, Top sellers, Best-selling products, Product images, search filters, price range, Add to cart, checkout process, customer reviews, Limited time offers, New arrivals, search any product ">
    <meta name="author" content="Emmanuel Excellent">
    <meta property="og:url" content="https://excelcart.com.ng/shop">
    <meta property="og:title" content="Excelcart No.1 Online Shopping Website">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="Excelcart Graphics">

    <meta property="twitter:image" content="">
    <meta property="twitter:image:alt" content="Excelcart Graphics">
    <meta property="twitter:card" content="excelcart">
    <meta property="twitter:site" content="@Excelcart">

{% endblock %}

{% block content %}

    <!-- Breadcrumb Section Start -->
    <section class="breadscrumb-section pt-0">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-12">
                    <div class="breadscrumb-contain">
                        <h2>Shop Category</h2>
                        <nav>
                            <ol class="breadcrumb mb-0">
                                <li class="breadcrumb-item">
                                    <a href="{% url 'home' %}">
                                        <i class="fa-solid fa-house"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">Shop</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Shop Section Start -->
    <section class="section-b-space shop-section">
        <div class="container-fluid-lg">
            <div class="row">
                <div class="col-custome-3">
                    <div class="left-box wow fadeInUp">
                        <div class="shop-left-sidebar">
                            <h2 class="theme-color">Product Categories</h2>
                            <br>
                            <ul class="nav nav-pills mb-3 custom-nav-tab" id="pills-tab" role="tablist">
                                {% for cat in categories %}
                                <li class="nav-item" role="presentation">
                                    <button onclick="location.href='/shop/{{cat.title}}-{{cat.id}}'" class="nav-link" id="pills-vegetables" data-bs-toggle="pill" data-bs-target="#pills-vegetable" type="button" role="tab" aria-selected="true">{{cat.title}} <img src="/media/{{cat.svg}}" class="blur-up lazyloaded" alt=""></button>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-custome-9">
                    <div class="show-button">
                        <div class="filter-button d-inline-block d-lg-none">
                            <a><i class="fa-solid fa-filter"></i> Filter Menu</a>
                        </div>
                    </div>
                    <div class="row g-sm-4 g-3 row-cols-xxl-4 row-cols-xl-4 row-cols-lg-3 row-cols-md-3 row-cols-2 product-list-section">
                        {% for p in products %}
                        <div>
                            <div class="product-box-3 h-100 wow fadeInUp">
                                <div class="product-header">
                                    <div class="product-image">
                                        <a href="/shop/{{p.category}}/{{p.name|slugify}}-{{p.id}}">
                                            <img src="{{p.thumb_nail.url}}"
                                                class="img-fluid blur-up lazyload" alt="">
                                        </a>

                                        <ul class="product-option">
                                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="View">
                                                <a href="javascript:void(0)" data-bs-toggle="modal"
                                                    data-bs-target="#view{{p.id}}">
                                                    <i data-feather="eye"></i>
                                                </a>
                                            </li>
                                            <li data-bs-toggle="tooltip" data-bs-placement="top" title="Wishlist">
                                                <a class="notifi-wishlist add-wishlist" data-product="{{p.id}}">
                                                    <i data-feather="heart"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="product-footer">
                                    <div class="product-detail">
                                        <span class="span-name">{{p.category}}</span>
                                        <a href="/shop/{{p.category}}/{{p.name|slugify}}-{{p.id}}">
                                            <h5 class="name">{{p.name}}</h5>
                                        </a>
                                        <p class="text-content mt-1 mb-2 product-content">{{p.short_description}}</p>
                                        <div class="product-rating mt-2">
                                            <ul class="rating">
                                                {% for star in p.avg_ratings|ljust:p.avg_ratings %}
                                                <li>
                                                    <i data-feather="star" class="fill"></i>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                            <span>({{p.avg_ratings|floatformat:1}})</span>
                                        </div>
                                        <h6 class="unit prod-size-{{p.id}} d-none">{{p.variation_set.first.size}}</h6>
                                        {% if p.variation_set.first.discount %}
                                        <h5 class="price"><span class="theme-color">&#8358; {{p.variation_set.first.dis_price|floatformat:2}}</span>
                                        <input type="hidden" class="prod-price-{{p.id}}" name="price" value="{{p.variation_set.first.dis_price}}">                
                                        <del>&#8358;{{p.variation_set.first.price|floatformat:2}}</del>                                                                            
                                        </h5>
                                        {% else %}
                                        <h5 class="price"><span class="theme-color">&#8358; {{p.variation_set.first.price|floatformat:2}}</span>
                                            <input type="hidden" class="prod-price-{{p.id}}" name="price" value="{{p.variation_set.first.price}}">
                                        </h5>
                                        {% endif %} 
                                        <div class="add-to-cart-box bg-white">
                                            <input type="hidden" class="prod-id-{{p.id}}" value="{{p.id}}" />
                                            <input type="hidden" class="prod-name-{{p.id}}" value="{{p.name}}" />
                                            <input type="hidden" class="prod-vendor-{{p.id}}" name="vendor" value="{{p.vendor}}">
                                            <input type="hidden" class="prod-ref-{{p.id}}" value="{{p.ref}}" />
                                            <input type="hidden" class="prod-cat-{{p.id}}" value="{{p.category}}" />
                                            <input type="hidden" class="prod-color-{{p.id}}" value="{{p.color}}" />                                    
                                            <input type="hidden" class="prod-image-{{p.id}}" value="{{p.thumb_nail.url}}" /> 

                                            {% if p.number == 0 %}
                                            <button class="btn btn-add-cart addcart-button" disabled>Out Of Stock
                                                <span class="add-icon bg-light-gray">
                                                    <i class="fa-solid fa-plus"></i>
                                                </span>
                                            </button>
                                            {% else %} 
                                            <button class="btn btn-add-cart cart-add addcart-button add-to-cart" data-index="{{p.id}}">Add
                                                <span class="add-icon bg-light-gray">
                                                    <i class="fa-solid fa-plus"></i>
                                                </span>
                                            </button>
                                            {% endif %}
                                            <div class="cart_qty qty-box">
                                                <div class="input-group bg-white">
                                                    <button type="button" class="qty-left-minus bg-gray"
                                                        data-type="minus" data-field="">
                                                        <i class="fa fa-minus update-item" data-item="{{p.id}}" aria-hidden="true"></i>
                                                    </button>
                                                    <input class="form-control input-number qty-input prod-qty-{{p.id}}" type="number"
                                                        name="quantity" value="0">
                                                    <button type="button" class="qty-right-plus bg-gray" data-type="plus" data-field="">
                                                        <i class="fa fa-plus update-item" data-item="{{p.id}}" aria-hidden="true"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                    {% if products.has_other_pages %}
                    <nav class="custome-pagination">
                        <ul class="pagination justify-content-center">
                            {% if products.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{products.previous_page_number}}" tabindex="-1" aria-disabled="true">
                                    <i class="fa-solid fa-angles-left"></i>
                                </a>
                            </li>
                            {% endif %}
                            {% for i in products.paginator.page_range %}
                            {% if products.number == i %}
                            <li class="page-item active">
                                <a class="page-link" href="javascript:void(0)">{{i}}</a>
                            </li>
                            {% else %}
                            <li class="page-item" aria-current="page">
                                <a class="page-link" href="?page={{i}}">{{i}}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            {% if products.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{products.next_page_number}}">
                                    <i class="fa-solid fa-angles-right"></i>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Shop Section End -->

{% endblock %}